<header>
    <h1>HOME</h1>
    <nav>
        <button><a href="../cart">Cart</a></button>
        <button><a href="../profile">Profile</a></button>
    </nav>
    <div>
        <h2>{{user.name}}</h2>
        <img src={{user.avatar}} alt="avatar">
    </div>
</header>