<h1>REGISTER</h1>
<form id="registerForm">
    <label for="first_name">First Name</label>
    <input type="text" placeholder="First Name" name="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" placeholder="Last Name" name="last_name">
    <label for="email">E-mail</label>
    <input type="email" placeholder="E-mail" name="email">
    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password">
    <label for="phone_number">Phone Number</label>
    <input type="tel" placeholder="Phone Number" name="phone_number">
    <label for="adress">Adress</label>
    <input type="text" placeholder="Adress" name="adress">
    <label for="avatar">Profile picture</label>
    <input type="file" placeholder="Profile picture" name="avatar">
    <input type="submit">
</form>
<script src="/js/registerForm.js"></script>